body{
    margin:0;
    padding:0;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 75%;
    height:154px;
}
.menu_bar{
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    width: 70px;
    height:56px;
    border-radius: 10px;

}
.item{
    border: green solid 1px;
}
/*.newsletter{
    border: black solid 1px;

}
*/
/* .facebook{ 
    border: black solid 1px;
}*/
.menu_deroulant{
    /* border: black solid 1px; */
    /* background-color: #311E53; */
    border-bottom-right-radius: 10px;


}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
	/* width:20%; */
	text-align:center;
	overflow:hidden;
}
.recherche_bar{
    width: 10px;
    height: 20px;
    background: white;
}
.description{
    background-color: #87C8ED;
    height: 124px;
    border-bottom: #311E53 solid 5px;
    color: white;
    justify-content: space-between;
}
#contenair_widgets{
   width: 1080px;
   margin: auto;
}
.all_cards{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: initial;
    /* justify-content: space-between; */

}
.cards{
    border: solid 1px gray;
    color: #311E53;
    width: 203px;
    height: 230px;
    /* cursor: move; */
    border-bottom-right-radius: 18px;
    margin: 5px;
}

.cards:hover{
    border-radius: 18px;
    border: 1px solid #ff0;
}

.block_widgets{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    border: blue solid 1px;

}
.articles{
    border: green solid 1px;
    width: 334px;
    height: 318px;
}
.slide{
    border: yellow solid 1px;
    width: 689px;
    height: 318px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.all_contribution{
    justify-content: space-between;
    display: flex;
}
.sponsors{
    justify-content: center;
    flex-direction: row;
    display: flex;
    /* margin: 5px; */
}
.footer{
    height: 30px;
    background: #311E53;
    color: white;
    text-align: center;
}

/* ICONS SEARCHBAR */

.searchbar{
    display: flex;
    flex-direction: row;
    height: 40px;

}


.searchbar__input {
    height: 40px;
    border: none;
    text-align: left;
    padding: 10px;
    border-radius: 8px 0 0 8px;
    color: #555;
}

.searchbar__button {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #ff0;
    border-radius: 0 8px 8px 0;
}

.searchbar__image {
    width: 100%;
    height: auto;
}
.widgets{
    background-color: #C1E3F6;
    display: flex;
    }
.widget{
    width: 50%;
    margin: 0 10px;
    flex-direction: row;
    background: white;
    border: solid 1px black;
}
.widget__title {
    background: #FDC830;
    display: inline-block;
    padding: 10px;
}

.widget__bottom {
    display: flex;
}

.widget__bottom-block {
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 25.92px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 16.2px;
    font-weight: 700;
}

.widget__bottom-block:last-child {
    border-left: 2px dashed #bbb;
}

.description__right {
font-family: Raleway, Arial, sans-serif;
font-size: 14.4px;
display: inline-block;
margin: 0;
color: #fff;
letter-spacing: 0.125rem;
line-height: 1.3;
}

.description__left {
color: rgb(255, 255, 255);
display: inline;
font-family: Raleway, Arial, sans-serif;
font-size: 28.8px;
font-style: normal;
font-weight: 400;
height: auto;
letter-spacing: 1.8px;
line-height: 37.44px;
text-align: center;
}